name: Deploy Site
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch 
      pages: write  # To push to a GitHub Pages site
      id-token: write # To update the deployment status
    env:
      BLARG_VERSION: 0.0.4
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup coursier cache
        uses: coursier/cache-action@v6.4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '23'

      - name: Install blarg
        run: |
          curl -fLO https://github.com/alterationx10/blarg/releases/download/v${BLARG_VERSION}/blarg-linux-x64-v${BLARG_VERSION}.zip 
          unzip -o blarg-linux-x64-v${BLARG_VERSION}.zip
          chmod +x blarg

      - name: Build Site
        run: ./blarg build

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: 'build'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
